#t {
  border-collapse: collapse;
}
#t td {
  border: 1px solid blue;
  width: 2em;
  height: 2em;
}

.intro {
  font-family: arial;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.code {
  color: green;
  font-family: monospace;
  font-weight: bold;
}
div.code {
  border: 1px solid green;
  padding: 3px;
  padding-left: 1em;
}

strong{
  color: green;
  font-family: monospace;
  font-weight: bold;
}